#priceCalculator {
    width: 512px;
    max-width: 100%;
    text-align: center;
}

#priceCalculator.position-left {
    margin-left: 0;
}

#priceCalculator.position-right {
    margin-right: 0;
}

#priceCalculator.position-center {
    margin-left: auto;
    margin-right: auto;
}

#priceCalculator .bje-wrapper label {
    font-weight: 600;
}

#priceCalculator label {
    font-size: 18px;
}

#priceCalculator #bje {
    color: #252b42;
    font-size: 24px;
    padding: 20px 25px;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid #707070 !important;
    outline: 0;
    width: 100%;
    margin-top: .5rem;
    text-align: center;
}

#priceCalculator .bje-wrapper,
#priceCalculator .bje-price-wrapper {
    margin-bottom: 1.5rem;
}

#priceCalculator #bjePrice {
    font-size: 2rem;
}

/* #priceCalculator .order-now {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 80px;
    max-width: 100%;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: var(--clr-secondary);
    display: inline-block;
    text-decoration: none;
} */