// Colors
$primary-color: #37ce00;
$secondary-color: #ff6138;
$accent-color: #eaffe2;
$success-color: #66db3b;
$error-color: #dc2837;
$warning-color: #d5770b;
$info-color: #009ece;
$neutral-color: #17181b;
$neutral-2-color: #252b42;
$neutral-3-color: #ffffff;
$text-field-default-color: #5a6684;
$background-color: #f1f6fc;
$grey-color: #e2e2e2;
$grey-light-color: #aeb4c2;
$disabled-bg-color: #d9d9d9;

$gradient-bg: linear-gradient(180deg, #f1f6fc 0%, #ffffff 100%);
$gradient: linear-gradient(180deg, #ffffff 0%, rgba(241, 245, 252, 0.4) 100%);
$gradient-2: linear-gradient(270deg, #e6eef9 0.16%, #f1f6fc 100.16%);

$heading-font: 'Inter';
$text-font: 'Open Sans';
