.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.uppercase {
    text-transform: uppercase;
}

@each $direction in $directions {
    .text-#{$direction} {
        text-align: $direction !important;
    }
}

.alignfull {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}

.aligncenter {
    clear: both;
    display: block;
    margin: {
        left: auto;
        right: auto;
    }
}

.disable-scroll {
    overflow: hidden;
}


// inspired by tailwindcss
.font-thin { font-weight: 100; }
.font-extralight { font-weight: 200; }
.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }
.font-black { font-weight: 900; }

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}


// Resize (textarea)
.resize-x {
    resize: horizontal;
}

.resize-y {
    resize: vertical;
}

.resize-none {
    resize: none;
}


// Width
.w-full {
    width: 100%;
}


// utility classes highly inspired by tailwind css
// display
$displays: (
    block,
    inline-block
);

@each $display in $displays {
    .#{$display} {
        display: $display !important;
    }
}

.hidden {
    display: none !important;
}

// whitespace
$whitespaces: (
    normal,
    nowrap,
    pre,
    pre-line,
    pre-wrap
);

@each $whitespace in $whitespaces {
    .#{$whitespace} {
        white-space: $whitespace;
    }
}

// width
.w-fit {
    width: fit-content;
}

.w-700 {
    width: 700px;
    max-width: 100%;
}


// line height
// @see https://tailwindcss.com/docs/line-height
.leading-3 { line-height: .75rem; }
.leading-4 { line-height: 1rem; }
.leading-5 { line-height: 1.25rem; }
.leading-6 { line-height: 1.5rem; }
.leading-7 { line-height: 1.75rem; }
.leading-8 { line-height: 2rem; }
.leading-9 { line-height: 2.25rem; }
.leading-10 { line-height: 2.5rem; }
.leading-none { line-height: 1; }
.leading-tight { line-height: 1.25; }
.leading-snug { line-height: 1.375; }
.leading-normal { line-height: 1.5; }
.leading-relaxed { line-height: 1.625; }
.leading-loose { line-height: 2; }


// font size
// @see https://tailwindcss.com/docs/font-size
.text-xs { font-size: 0.75rem !important; line-height: 1rem !important; }
.text-sm { font-size: 0.875rem !important; line-height: 1.25rem !important; }
.text-base { font-size: 1rem !important; line-height: 1.5rem !important; }
.text-lg { font-size: 1.125rem !important; line-height: 1.75rem !important; }
.text-xl { font-size: 1.25rem !important; line-height: 1.75rem !important; }
.text-2xl { font-size: 1.5rem !important; line-height: 2rem !important; }
.text-3xl { font-size: 1.875rem !important; line-height: 2.25rem !important; }
.text-4xl { font-size: 2.25rem !important; line-height: 2.5rem !important; }
.text-5xl { font-size: 3rem !important; line-height: 1 !important; }
.text-6xl { font-size: 3.75rem !important; line-height: 1 !important; }
.text-7xl { font-size: 4.5rem !important; line-height: 1 !important; }
.text-8xl { font-size: 6rem !important; line-height: 1 !important; }
.text-9xl { font-size: 8rem !important; line-height: 1 !important; }


// font color
$colors-map: (
    'black': #000000,
    'blue': #252B42,
    'white': #FFFFFF,
    'grey': #737373,
    'default': $clr-text-black,
    'primary': $clr-primary,
    'secondary': $clr-secondary
);

@each $name, $color in $colors-map {
    .text-#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background-color: $color !important;
    }
}

.text-christmas {
    background: repeating-linear-gradient(90deg, $clr-blue 10%, $clr-orange 20%, $clr-blue 30%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


// spin (loading)
// .u-spin {
//     animation: spin 2s linear infinite;
//     color: red;
// }

// @keyframes spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(1turn);
//     }
// }


.u-spin {
    display: inline-block;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}