.back-to-top-wrapper {
    position: absolute;
    top: 120vh;
    bottom: 3rem;
    right: 2rem;
    pointer-events: none;
}

#back-to-top {
    // position: fixed;
    // right: 20px;
    // bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    // top: 90vh;
    top: calc(100vh - 6rem);
    pointer-events: auto;

    background-color: $clr-bg-blue;
    width: 62px;
    height: 62px;
    border-radius: 999rem;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: $clr-text;

    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
}

#page {
    position: relative;
}


// --scroll-length: 100vh;
// top: var(--scroll-length);
// right: 2rem;
// bottom: -1rem;
// width: 3em;
// pointer-events: none;