.badge {
    display: inline-block;
    background-color: $clr-bg-grey-light;
    border-radius: 99em;
    padding: 10px;

    &-primary {
        background-color: $clr-secondary;
        color: $clr-text-white;
    }

    &-secondary {
        background-color: $clr-primary;
    }
}
