.section-contact-us {
    position: relative;
    padding: {
        top: 30px;
        bottom: 30px;
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        background-color: $clr-bg-blue;
        @include alignfull;
    }
}