// .faq {
    .easy-with-tax-section {
        main {
            margin-top: 60px;

            .tabs-wrapper {
                display: grid;
                grid-template-columns: repeat(2, 50fr);
                gap: 20px;
            }

            .changeable-part {
                .content:not(.content-selected) {
                    display: none;
                }

                img {
                    border-radius: $br-2;
                }
            }

            .selections {
                .item {
                    padding-left: 10px;
                    cursor: pointer;
                    transition: color 0.1s ease-in;
                    border-left: 2px solid transparent;

                    &:hover {
                        color: $clr-primary;
                    }

                    &-selected {
                        color: $clr-primary;
                        border-color: $clr-primary;
                    }
                }
            }
        }
    }

    .curvy-video-section {
        border: 2px solid lightblue;
        position: relative;

        img {
            position: relative;
        }

        .curvy-video-inner {
            border: 2px solid blue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            h2 {
                text-align: center;
            }

            iframe {
                box-shadow: 3px 18px 20px rgba(#000, .25);
                border-radius: $br-2;
            }
        }
    }
// }