.flip-card {
    perspective: 1000px;
    display: block;
    // position: relative;
    // width: 100%;
    // height: 100%;

    .flip-card-inner {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        overflow: visible;

        .flip-card-front,
        .flip-card-back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            background-color: $clr-bg-white;
            // position: absolute;
        }

        .flip-card-back {
            transform: rotateY(180deg);
            background-color: $clr-bg-white;
            position: absolute;
            inset: 0;
        }
    }

    &.flip,
    &:hover {
        .flip-card-inner {
            // &:hover {
            transform: rotateY(180deg);
        }
    }
}
