footer#footer {
    padding: 50px;

    .footer-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        max-width: 100%;
        text-align: center;
        // border: 2px solid blue;
    }

    hr {
        border-bottom: 1px solid rgba($clr-bg-black, 0.2);
        border-radius: 5px;
        margin: 20px 0;
    }

    .social {
        // white-space: nowrap;
        display: flex;
        flex-direction: row;
        gap: 4px;
        // min-width: 140px;

        img {
            width: 32px;
            height: 32px;
            display: block;
        }

        // i {
        //     font-size: 22px;
        // }
    }

    #sicherheit {
        padding: 24px;
        margin: {
            top: 24px;
            bottom: 48px;
        }

        .section-inner {
            max-width: 660px;
            margin: 0 auto;
        }

        .shield {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            background-image: url($url-theme-img + '/shield.svg');
            background-repeat: no-repeat;
            position: relative;

            i {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                color: $clr-text-white;
            }
        }

        h2 {
            text-align: center;
            margin: 15px 0 25px;
        }

        .benefits {
            list-style-type: none;
            display: flex;
            flex-flow: row nowrap;
            gap: 40px;
            justify-content: space-around;

            li {
                font-size: 20px;

                i {
                    border-radius: 99rem;
                    padding: 5px;
                }

                &:nth-child(1) {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: center;
                }

                &:nth-child(3) {
                    text-align: right;
                }
            }
        }

        .more-details {
            margin-top: 20px;
            text-align: center;

            a {
                font-size: 20px;
            }
        }
    }

    .footer-navs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        a {
            // color: $clr-text;
            padding: 2px 0;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            list-style-type: none;
        }
    }

    // .sign-up {
    //     margin-bottom: 4rem;
    // }

    .app-badges {
        margin-top: 1rem;

        img {
            width: 200px;
        }
    }

    .footer-text {
        margin: 30px 0;
    }
}

@media (max-width: 867px) {
    footer#footer .sign-up iframe#newsletter {
        height: 587px;
    }
}

@media (max-width: 618px) {
    footer#footer .sign-up iframe#newsletter {
        height: 632px;
    }
}

@media (max-width: 449px) {
    footer#footer .sign-up iframe#newsletter {
        height: 645px;
    }
}

@media (max-width: 410px) {
    footer#footer .sign-up iframe#newsletter {
        height: 690px;
    }
}

@media (max-width: 381px) {
    footer#footer .sign-up iframe#newsletter {
        height: 720px;
    }
}

@media (max-width: 835px) {
    footer#footer {
        #sicherheit {
            padding: 20px;

            .section-inner {
                .benefits {
                    gap: 10px;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    footer#footer {
        #sicherheit {
            .section-inner {
                .benefits {
                    flex-flow: column wrap;
                    margin: 0 auto;
                    width: fit-content;

                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 520px) {
    footer#footer {
        .footer-top {
            flex-direction: column;
            justify-content: center;
        }
    }
}
