body.home {
    // alt: .page-template-template-frontpage
    background-color: $clr-bg-grey-very-light;
}

main.main-content.front-page {
    max-width: 1500px;

    .hero-wrapper {
        width: 100% !important;
        background-color: $clr-bg-blue;
        @include full-bleed($clr-bg-blue);

        // h1 {
        //     line-height: 1;
        //     padding-bottom: 20px;
        // }

        .hero-text {
            .seals {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 20px;

                .trusted-shops,
                .datenschutz {
                    max-height: 82px; // prev. 56px
                }

                .elster {
                    max-height: 48px; // prev. 40px
                }
            }

            .advantages {
                ul {
                    display: flex;
                    // flex-direction: row;
                    flex-flow: row wrap;
                    gap: 10px;

                    li {
                        font-size: 18px;
                        font-weight: 500;
                        // margin-left: 25px; // width of the marker 20px
                        letter-spacing: 2px;
                        list-style-type: none;

                        &::before {
                            content: '\e90e';
                            font-family: $font-icons;
                            color: $clr-primary;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .hero-image {
            // border: 15px solid $clr-bg-grey-light;
            // border-radius: $br-4;
            // background-color: $clr-bg-grey-light;

            img {
                // display: block;
                // border-radius: $br-3;
                min-width: 512px !important;
                max-height: 512px !important;
            }
        }
    }

    // #quicktax {
    //     #steuerrechner {

    //         form {
    //             margin: 0 auto;
    //             padding-inline: 0;
    //             max-width: 820px; // 790px
    //         }

    //         .radio-wrapper {
    //             gap: 10px;

    //             label {
    //                 // width: 237px;
    //                 // height: 77px;
    //                 padding: 20px 24px;
    //                 font-size: 24px;
    //                 display: grid;
    //                 place-items: center;
    //             }
    //         }

    //         .number-wrapper {
    //             input {
    //                 font-size: 24px;
    //             }
    //         }
    //     }
    // }

    #steps {
        // border: 2px solid blue;
        $gap: 24px; // 40px in combination with the after pseudo element

        .flip-cards-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $gap;
        }

        .flip-card-inner {
            border-radius: $br-4;
            box-shadow: 0 2px 8px rgba($clr-bg-black, 0.25);

            img {
                margin: 0 auto;
                display: block;
                margin-bottom: 20px;
                height: 128px;
            }

            .flip-card-front,
            .flip-card-back {
                border-radius: $br-2;
                padding: 20px;
                height: 100%;
            }

            .flip-card-back {
                display: grid;
                place-items: center;
            }

            // summary {
            //     text-align: center;
            // }
        }

        .step {
            position: relative;

            // &:not(:last-child)::after {
            //     position: absolute;
            //     top: 50%;
            //     right: (calc($gap / 2) * -1);
            //     transform: translateY(-50%);
            //     content: '';
            //     display: block;
            //     width: 1px;
            //     height: 88px;
            //     background-color: $clr-bg-grey;
            // }

            img {
                margin: 0 auto;
                display: block;
                margin-bottom: 20px;
            }

            details {
                position: relative;

                summary {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                }

                .details-content {
                    position: absolute;
                    inset: 100% 0 auto 0;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: $br-2;
                    box-shadow: 0 2px 8px rgba($clr-text-black, 0.1);
                    transition: ease-in 0.2s opacity;
                    opacity: 0;
                    background-color: $clr-bg-white;
                }

                &[open] {
                    .details-content {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #app {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        background-color: $accent-color;
        border-radius: $br-4;
        overflow: hidden;

        .app-mockup {
            height: 100%;

            img {
                display: block;
                object-fit: cover;
                height: 100%;
            }
        }

        .app-text {
            padding: 20px;

            h3 {
                margin-top: 0.9375rem;
            }

            .store-badges {
                img {
                    width: 200px;
                }
            }
        }
    }

    #vergleichstabelle {
        // border: 2px solid lightblue;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;

        h2 {
            margin-bottom: 0;
        }

        // TODO replace this with
        p.subheading {
            padding-top: 16px;
            padding-bottom: 32px;
        }

        .table {
            position: relative;
            display: inline-grid;
            grid-template-columns: repeat(4, 1fr);
            // grid-template-rows: repeat(6, 114px);
            gap: 1px;
            background-color: $clr-bg-grey;

            &.edge-stm {
                // border: 2px solid blue;
                // position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    inset: 0 0 0 auto;
                    display: block;
                    border: 2px solid $neutral-color;
                    width: calc(calc(100% / 4) + 1px);
                    height: 100%;
                }
            }

            .cell {
                padding: 10px 12px;
                // font-size: 12px;
                display: grid;
                place-items: center;
                background-color: $clr-bg-white;
                min-height: 114px;

                &.header {
                    background-color: $clr-bg-grey-light;
                    // font-size: 14px;

                    // ! THIS ELEMENT COULD BE REMOVED IF NOT NEEDED
                    // span {
                    //     rotate: -60deg;
                    // }
                }

                &.label {
                    text-align: left;
                    justify-items: start;
                    // line-height: 16px;
                }

                &.not {
                    font-family: $font-heading;
                    font-size: 32px;
                    font-weight: 700;
                }

                i.icon-check {
                    color: $clr-primary;
                    font-size: 1.5rem;
                }
            }
        }
    }

    #entwickelt-fuer {
        & > div {
            border-radius: 24px;
        }

        p {
            &:nth-child(1) {
                letter-spacing: 0.2em;
            }
            &:nth-child(3) {
                padding-top: 1rem;
                margin-bottom: 0;
                font-size: 2.5rem;
            }
        }

        ul {
            li {
                list-style-type: none;
                font-size: 2.5rem;
                font-weight: bold;
                line-height: 1.2;
            }
        }

        img {
            border-radius: 24px;
        }
    }

    // #zahlen-und-fakten {
    //     padding-bottom: 200px;
    //     max-width: 800px;
    //     margin-inline: auto;

    //     // .box {
    //     //     border-radius: $br-5;
    //     //     background: linear-gradient(45deg, $clr-bg-blue, transparent);
    //     //     display: flex;
    //     //     flex-flow: row nowrap;
    //     //     gap: 70px;
    //     //     padding: 40px 60px;
    //     //     max-width: 900px;
    //     //     margin: 0 auto;

    //     .header {
    //         position: relative;
    //         min-width: 230px;

    //         h2 {
    //             font-size: 40px;
    //         }
    //     }

    //     .inner {
    //         display: flex;
    //         flex-direction: row;
    //         gap: 80px;
    //     }

    //     img.mockup {
    //         filter: drop-shadow(10px 20px 20px rgba($clr-bg-black, 0.5));
    //         // filter: drop-shadow(1px 1px $clr-bg-black) drop-shadow(2px 2px $clr-bg-black) drop-shadow(4px 4px $clr-bg-black) drop-shadow(8px 8px $clr-bg-black) drop-shadow(16px 16px $clr-bg-black);
    //         max-width: 230px;
    //         // top: 0;
    //         // position: absolute;
    //         // margin-top: 60%;
    //         // float: left;
    //     }

    //     .items {
    //         width: 100%;
    //         display: grid;
    //         grid-template-columns: repeat(2, 1fr);
    //         gap: 40px;
    //         position: relative;

    //         // &::before {
    //         //     $size: 315px;

    //         //     z-index: -1;
    //         //     content: '';
    //         //     position: absolute;
    //         //     background-image: url($url-uploads + '/2020/12/cropped-steuermachen-logo.png');
    //         //     background-size: $size $size;
    //         //     display: block;
    //         //     width: $size;
    //         //     height: $size;
    //         //     top: 50%;
    //         //     left: 50%;
    //         //     transform: translate(-50%, -50%);
    //         //     opacity: 0.35;
    //         // }

    //         .item {
    //             background-color: $clr-bg-blue;
    //             border-radius: $br-2;
    //             // width: 250px;
    //             // height: 190px;
    //             box-shadow: 0 4px 4px rgba($clr-bg-black, 0.25);
    //             padding: 10px;

    //             &-title {
    //                 color: $clr-primary;
    //             }

    //             &-content {
    //                 font-size: 20px;
    //             }
    //         }
    //     }
    //     // }
    // }

    #bewertungen {
        h2 {
            margin-bottom: 40px;
        }

        .rating-boxes {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            .rating-box {
                border-radius: $br-4;
                padding: 22px 24px;
                background-color: $clr-bg-blue;
                display: flex;
                flex-flow: column wrap;

                &:nth-child(1) {
                    background: linear-gradient(to left, $clr-bg-blue, transparent);
                }

                &:nth-child(3) {
                    background: linear-gradient(to right, $clr-bg-blue, transparent);
                }

                .details-wrapper {
                    flex: 1;
                }

                .title {
                    font-size: 24px;
                    font-weight: 700;
                }

                .date {
                    font-size: 18px;
                    font-weight: 700;
                    color: $clr-secondary;
                    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                }

                q.content {
                    margin-top: 10px;
                    display: inline-block;
                }

                .rating-wrapper {
                    margin-top: 20px;

                    .rating {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .stars {
                        letter-spacing: 10px;
                    }
                }
            }
        }
    }

    // #steuerratgeber {
    //     h2 {
    //         margin-bottom: 40px;
    //     }

    //     .recent-posts {
    //         display: grid;
    //         grid-template-columns: 4fr 3fr;
    //         gap: 30px;

    //         .image {
    //             border-radius: $br-4;
    //             overflow: hidden;

    //             img {
    //                 width: 100%;
    //                 display: block;
    //                 transition: ease-in-out 0.3s transform;

    //                 &:hover {
    //                     transform: scale(1.1);
    //                 }
    //             }
    //         }

    //         .categories {
    //             font-size: 18px;
    //             font-weight: bold;
    //             text-transform: uppercase;
    //             // margin-bottom: 15px;
    //         }

    //         .latest-post {
    //             .title {
    //                 font-weight: bold;
    //                 font-size: 24px;
    //             }

    //             .image {
    //                 margin-bottom: 5px;
    //             }
    //         }

    //         .latest-posts {
    //             display: flex;
    //             flex-flow: column wrap;
    //             gap: 30px;

    //             .post {
    //                 display: flex;
    //                 flex-flow: row nowrap;
    //                 gap: 12px;

    //                 .image img {
    //                     $size: 200px;

    //                     width: $size;
    //                     min-width: $size !important;
    //                 }

    //                 // .content {
    //                 //     .title {
    //                 //         a {
    //                 //             color: $clr-text-black;
    //                 //         }
    //                 //     }
    //                 // }
    //             }
    //         }
    //     }
    // }
}

@media (max-width: 1000px) {
    main.main-content.front-page {
        .hero-wrapper {
            .hero-image img {
                min-width: 350px !important;
            }
        }

        #zahlen-und-fakten {
            padding-bottom: 0;

            .box {
                flex-flow: column wrap;
                gap: 0;

                .items {
                    // grid-template-columns: 1fr;
                    // justify-items: center;
                    justify-items: stretch;

                    .item:nth-child(even) {
                        justify-self: end;
                    }
                }

                .header img.mockup {
                    display: none;
                    // margin-top: 0;
                    // position: static;
                    // float: none;
                }
            }
        }

        #vergleichstabelle {
            // border: 2px solid blue;
            flex-direction: column;
        }

        #bewertungen {
            .rating-boxes {
                // overflow: hidden;
                // overflow-x: scroll;

                grid-template-columns: 1fr;
                justify-items: center;

                .rating-box {
                    // width: 420px;
                    // max-width: 100%;
                    width: 100%;
                    max-width: 420px;

                    &:nth-child(1) {
                        background: linear-gradient(to top, $clr-bg-blue, transparent);
                    }

                    &:nth-child(3) {
                        background: linear-gradient(to bottom, $clr-bg-blue, transparent);
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    main.main-content.front-page #entwickelt-fuer ul li {
        font-size: 2rem;
    }
}

@media (max-width: 835px) {
    main.main-content.front-page {
        .hero-wrapper {
            flex-direction: column;

            .hero-image img {
                max-height: 100% !important;
            }
        }

        #steps .flip-cards-wrapper {
            grid-template-columns: repeat(2, 1fr);

            .step:nth-child(even)::after {
                display: none;
            }
        }

        // #sicherheit {
        //     padding: 20px;

        //     .section-inner {
        //         .benefits {
        //             gap: 10px;
        //         }
        //     }
        // }
    }
}

@media (max-width: $breakpoint-md) {
    main.main-content.front-page {
        #hero.hero-wrapper {
            .hero-text {
                // margin: 20px;
                display: flex;
                flex-flow: column wrap;
                // align-items: center;

                h1 {
                    font-size: 30px;
                    // text-align: center;
                }
            }
        }

        #app {
            grid-template-columns: 1fr;
        }

        #zahlen-und-fakten {
            .box {
                flex-direction: column;

                .header {
                    text-align: center;
                }

                .items {
                    grid-template-columns: 1fr;
                    justify-items: center;

                    .item:nth-child(even) {
                        justify-self: center;
                    }

                    // .item {
                    // width: 100%;
                    // height: auto;
                    // }
                }
            }
        }

        #steuerratgeber {
            .recent-posts {
                grid-template-columns: 1fr;
            }
        }

        // #sicherheit {
        //     .section-inner {
        //         .benefits {
        //             flex-flow: column wrap;
        //             margin: 0 auto;
        //             width: fit-content;

        //             li {
        //                 text-align: left;
        //             }
        //         }
        //     }
        // }

        #entwickelt-fuer {
            & > div {
                padding: 3rem;
                flex-direction: column;

                & > div {
                    &:nth-child(1) {
                        order: 1;
                        width: 100%;
                    }
                    &:nth-child(2) {
                        order: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    main.main-content.front-page {
        #steps .flip-cards-wrapper {
            grid-template-columns: 1fr;

            .step::after {
                display: none;
            }
        }

        #quicktax {
            #steuerrechner {
                .radio-wrapper {
                    label {
                        font-size: 20px;
                    }
                }
            }
        }

        #zahlen-und-fakten {
            .box {
                padding: 20px;
            }
        }

        #steuerratgeber {
            .recent-posts {
                display: flex;
                flex-flow: row nowrap;
                overflow: hidden;
                overflow-x: scroll;

                .categories {
                    font-size: 14px;
                }

                .latest-post {
                    min-width: 200px;

                    .image {
                        width: fit-content;
                    }

                    .title {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }

                .latest-posts {
                    flex-flow: row nowrap;

                    .post {
                        display: flex;
                        flex-flow: column wrap;
                        gap: 5px;

                        .image {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $breakpoint-xs) {
    main.main-content.front-page {
        .hero-wrapper .hero-text {
            .seals {
                flex-direction: column;
            }

            .advantages {
                ul {
                    flex-direction: column;
                }
            }

            .cta-button {
                width: 100%;

                .btn-lg {
                    width: 100%;
                }
            }
        }

        #quicktax {
            #steuerrechner {
                .radio-wrapper {
                    label {
                        font-size: 16px;
                    }
                }
            }
        }

        #vergleichstabelle .table {
            hyphens: auto;
            // overflow: auto;
            // width: 100%;

            .cell {
                min-width: 25%;
            }

            // .cell {
            //     min-width: 140px;
            // }
        }
    }
}
