body {
    &:not(.no-gradient)::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 550px;
        display: block;
    
        // background: linear-gradient(0deg, #FFFFFF, #EEF6FF);
        background: linear-gradient(0deg, $clr-bg-white, #EEF6FF);
        // border-radius: 0px 0px $br-7 $br-7;
    }
}

header#header {
    // border: 2px solid $clr-text-black;
    z-index: 99;
    position: fixed;
    padding: 42px 50px;
    transition: ease 0.2s;
    transition-property: box-shadow background;
    inset: 0 0 auto 0;

    &.header-scroll {
        box-shadow: 0 4px 16px rgba($clr-bg-black, 0.2);
        background-color: $clr-bg-white;
    }

    .header-inner {
        // border: 2px solid blue;

        .header-mobile {
            display: none;
        }

        .header-part {
            display: flex;
            gap: 15px;
        }

        .header-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .custom-logo {
                height: 42px;
            }

            .menu-top-container-wrapper {
                display: flex;
                align-items: center;
            
                .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    a {
                        display: block;
                        position: relative;
                        color: $clr-text-black;
                        font-size: 16px;

                        &:hover {
                            color: $clr-primary;
                        }
                    }

                    &,
                    ul {
                        min-width: 12em;

                        li {
                            white-space: nowrap;
                            list-style-type: none;
                        }
                    }

                    .menu-item {
                        // display: inline-block;
                        padding: 10px 15px;
                        position: relative;
                        
                        &.menu-item-has-children:hover {
                            .sub-menu {
                                display: block;
                            }
                        }

                        .sub-menu {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: $clr-bg;
                            width: auto;
                            border-radius: $br-1;
                            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1330px) { // old: 1240px
    header#header {
        padding: {
            top: 20px;
            bottom: 20px;
        }

        .hidden-on-mobile {
            display: none !important;
        }

        .header-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .header-part:nth-child(1) {
                display: block;
            }

            // .header-content {
            //     display: none;
            // }

            .header-mobile {
                display: block;
                text-align: right;

                i {
                    font-size: 42px;
                }

                [data-show-menu],
                [data-hide-menu] {
                    cursor: pointer;
                }

                .header-mobile-overlay {
                    z-index: 90;
                    position: fixed;
                    // background-color: $clr-secondary;
                    background-color: $clr-bg;
                    // top: 0;
                    // left: 0;
                    // width: 100%;
                    // height: 100%;
                    inset: 0;
                    // display: grid;
                    // place-items: center;
                    display: none; // TODO uncomment in prod.

                    .icon-x {
                        z-index: 99;
                        position: fixed;
                        inset: 20px 20px auto;
                    }

                    .header-mobile-overlay-inner {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        overflow: auto;
                        max-height: 100%;
                        width: calc(100% - 100px);
                        padding-block: 1em;
                        text-align: center;

                        .menu-top-container {
                            margin-bottom: 24px;

                            ul {
                                list-style-type: none;
                                text-align: center;

                                &.menu > li {
                                    font-size: 18px;
                                    font-weight: 600;
                                    padding-bottom: 24px;

                                    a {
                                        color: $clr-text-black;
                                    }
                                }

                                &.sub-menu {
                                    padding: 1em;
                                    box-shadow: 0 2px 4px rgba($clr-bg-black, 0.2);
                                    width: fit-content;
                                    margin-inline: auto;
                                    border-radius: $br-2;

                                    & > li {
                                        list-style-type: circle;
                                        margin-left: 20px;

                                        a {
                                            padding-block: 0.2em;
                                            display: inline-block
                                        }

                                        // &::before {
                                        //     content: '- ';
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// @media (max-width: 1010px) {
//     header#header {
//         .hidden-on-mobile {
//             display: none;
//         }

//         .header-inner {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             align-items: center;

//             .header-mobile {
//                 display: block;
//                 text-align: right;
                
//                 i {
//                     font-size: 42px;
//                 }
//             }
//         }
//     }
// }


// header#header {
//     .menu-item-28391 {
//         & > a {
//             display: none;
//         }
//     }
// }