@use '../utilities/margin';
@use '../utilities/padding';

body.christmas #page {
    background-image: url('./img/christmas-background.png');
    // background-size: cover;
    background-repeat: repeat-x;
}

// .page-template-landing-page-steuererklaerung {
//     .landing-page {
//         header#hero {
//             .hero-inner {
//                 padding-bottom: 70px;
//             }
//         }
//     }
// }

.page-template-landing-page-grundsteuer,
.page-template-landing-page-safetax,
.page-template-landing-page-steuereasy,
.page-template-landing-page-steuererklaerung, // backward campatiblity
.page-template-landing-page-einkommensteuer {
// .page-template-landing-page {
    .custom-logo {
        max-height: 90px;
    }

    &.christmas {
        .landing-page {
            .countdown-wrapper {
                position: relative;

                &::before {
                    position: absolute;
                    top: -55px;
                    left: -55px;
                    content: url('./img/christmas-bells.png');
                }
            }
        }
    }

    .landing-page {
        .h1, h1,
        .h2, h2,
        .h3, h3,
        .h4, h4,
        .h5, h5 {
            font-style: normal;
            font-weight: 700;
            margin-bottom: 0;
            line-height: 1 !important;
            text-transform: initial;
        }
        
        .h1, h1 {
            font-size: 56px;
        }
        
        .h2, h2 {
            font-size: 40px;
        }
        
        .h3, h3 {
            font-size: 36px;
            font-weight: 600;
        }
        
        .h4, h4 {
            font-size: 24px;
            letter-spacing: 0.1em;
        }
        
        .h5, h5 {
            font-size: 20px;
            font-weight: 600;
        }

        header#hero {
            padding: 0 70px 40px;
            margin-top: 40px;
            margin-bottom: -40px;
        
            .hero-inner {
                // padding: 70px 0;
                // padding-bottom: 70px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
        
                .hero-image-wrapper.dots {
                    position: relative;
                    display: inline-block;
                    
                    &::before,
                    &::after {
                        z-index: -1;
                        position: absolute;
                        content: '';
                        display: block;
                        background: linear-gradient(180deg, rgba(166, 255, 134, 0.3) 0%, rgba(251, 255, 250, 0.3) 100%);
                        width: 75%;
                        height: auto;
                        aspect-ratio: 1 / 1;
                        border-radius: 99rem;
                    }
                    
                    &::before {
                        inset: 0 0 auto auto;
                    }
                    
                    &::after {
                        inset: auto auto 0 0;
                    }
                }

                img {
                    width: 400px;
                    display: block;
                }
            }
        }
        
        section {
            margin-bottom: 75px;
        
            &.section-price {
                #calculator {
                    width: 512px;
                    max-width: 100%;
        
                    #bjeResult {
                        font-size: 2rem;
                    }
                }
            }

            &.section-explanation {
                h5 {
                    margin-bottom: 1rem;
                }
            }
        }
    }


    footer {
        padding: 40px;
        font-size: 12px;

        .custom-logo {
            padding-bottom: 20px;
        }

        ul {
            padding-top: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li:not(:last-child) {
                padding-right: 10px;
            }
        }
    }
}


@media (max-width: $breakpoint-xl) {
    .page-template-landing-page-grundsteuer,
    .page-template-landing-page-safetax,
    .page-template-landing-page-steuereasy,
    .page-template-landing-page-steuererklaerung, // backward campatiblity
    .page-template-landing-page-einkommensteuer {
        .max-width {
            max-width: 100%;
        }
    }
}

@media (min-width: $breakpoint-lg) {
    .page-template-landing-page-grundsteuer,
    .page-template-landing-page-safetax,
    .page-template-landing-page-steuereasy,
    .page-template-landing-page-steuererklaerung, // backward campatiblity
    .page-template-landing-page-einkommensteuer {
        .max-width {
            $n: 32px;

            padding: {
                right: $n;
                left: $n;
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .page-template-landing-page-grundsteuer,
    .page-template-landing-page-safetax,
    .page-template-landing-page-steuereasy,
    .page-template-landing-page-steuererklaerung, // backward campatiblity
    .page-template-landing-page-einkommensteuer {
        #hero {
            .hero-inner {
                .hero-image-wrapper {
                    display: none !important;
                }
            }
        }

        .max-width {
            $n: 8px;

            padding: {
                right: $n;
                left: $n;
            }
        }

        header#hero {
            .hero-inner {
                flex-direction: column !important;
                padding: 20px !important;

                h1 {
                    font-size: 40px;
                    padding: 0px 0px 10px;
                }

                img {
                    margin-top: 2rem;
                }
            }
        }
    }

    .page-template-landing-page-safetax {
        #hero {
            margin-bottom: 3rem !important;
        }
    }
}