a,
.a {
    text-decoration: none;

    &:not(.btn) {
        color: $clr-secondary;

        &:hover {
            color: $clr-secondary-hover;
        }

        &:active {
            color: $clr-secondary-active;
        }
    }
}
