.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 80px;

    .list-article {
        &:target {
            // background-color: $clr-bg-blue;
            box-shadow: 0 4px 16px rgba($clr-bg-black, 0.1);
            border-radius: $br-4;
            border: 10px solid transparent;
        }

        .list-article-thumb {
            // border: 2px solid palevioletred;
            margin-bottom: 15px;
            overflow: hidden;
            border-radius: $br-4;

            img {
                display: block;
                width: 100%;
                height: auto;
                transition: ease-in-out 0.3s transform;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .list-article-content {
            a.list-article-link {
                color: $clr-text-black;

                &:hover {
                    color: $clr-secondary-hover;
                }
            }

            p {
                margin-bottom: 15px;
            }
        }
    }
}

.posts-wrapper,
.post-wrapper {
    .list-article-categories,
    .post-categories {
        margin-bottom: 15px;
        font-size: 1rem;

        a {
            text-transform: uppercase;
            font-weight: 500; // 700
        }
    }
}

.posts-navigation {
    padding-top: 2rem;
    border-top: 1px solid rgba($clr-bg-black, 0.1);
    margin-top: 2rem;

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        div:first-child:nth-last-child(1) {
            margin: 0 0 0 auto;
        }

        .nav-previous {
            order: 1;
            align-self: flex-end;
        }

        .nav-next {
            order: 0;
        }
    }
}

@media (max-width: $breakpoint-xl) {
    .posts-wrapper {
        gap: 20px 40px;
    }
}

@media (max-width: $breakpoint-lg) {
    .posts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $breakpoint-md) {
    .posts-wrapper {
        grid-template-columns: 1fr;
    }
}
