.post-wrapper.single-post {
    .posted-on {
        font-size: 24px;
    }

    .post-content-wrapper {
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;

        .post-sidebar {
            min-width: 300px;
            display: flex;
            flex-flow: wrap column;
            gap: 3rem;

            .header {
                font-weight: 600;
            }
        }

        .post-content {
            .post-thumbnail {
                max-width: 100%;
                height: auto;
                border-radius: $br-4;
                margin-bottom: 1rem;
            }

            .rt-reading-time {
                font-size: 0.8rem;
                margin-bottom: 1rem;
            }

            p {
                margin: 0;
            }

            h3 {
                font-size: 24px;
            }

            ul,
            ol {
                padding-left: 20px;
                margin: 1.5em;

                li {
                    padding: 0;
                    margin-bottom: 6px;
                }
            }

            blockquote {
                border-left: 3px solid $clr-text-blue;
                padding: 20px;
                font-style: italic;
                background-color: $clr-bg-blue;
                margin: 20px 0;
            }
        }
    }
}

/* PAGE */
.post-wrapper {
    .post-content-wrapper {
        .post-image {
            // border: 2px solid blue;
            // display: flex;
            // flex-flow: row nowrap;
            // justify-content: center;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 20px;

            * {
                align-self: center;
            }

            &::before,
            &::after {
                @include arrow-bend($clr-primary);
            }

            &::before {
                align-self: end;
            }

            &::after {
                transform: rotate(180deg) scaleY(-1);
                align-self: start;
            }

            img {
                display: block;
                width: 100%;
                max-width: 100%;
                object-fit: contain;
                border-radius: $br-6;
            }
        }
    }
}


@media (max-width: $breakpoint-lg) {
    .post-wrapper {
        .post-content-wrapper {
            .post-image {
                &::before,
                &::after {
                    @include background-size-plus(90px, 75px);
                }
            }
        }
    }
}


@media (max-width: $breakpoint-sm) {
    .post-wrapper {
        .post-content-wrapper {
            .post-image {
                &::before,
                &::after {
                    @include background-size-plus(50px, 35px);
                }
            }
        }
    }
}