.post-wrapper {
    .posted-on {
        font-size: 24px;
    }

    .post-content-wrapper {
        // border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;

        .post-table-of-contents {
            min-width: 300px;

            .header {
                font-weight: 600;
            }
        }

        .post-content {
            .post-thumbnail {
                max-width: 100%;
                height: auto;
                border-radius: $br-4;
                margin-bottom: 1rem;
            }

            .rt-reading-time {
                font-size: 0.8rem;
            }

            p {
                margin: 0;
            }

            h3 {
                font-size: 24px;
            }

            ul,
            ol {
                padding-left: 20px;
                margin: 1.5em;

                li {
                    padding: 0;
                    margin-bottom: 6px;
                }
            }

            blockquote {
                border-left: 3px solid $clr-text-blue;
                padding: 20px;
                font-style: italic;
                background-color: $clr-bg-blue;
                margin: 20px 0;
            }
        }
    }
}