.radio-button-wrapper {
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 20px;
    }

    &:hover .radio-button {
        border-color: $clr-primary;
    }

    input[type='radio'] {
        display: none;

        &:checked + .radio-button {
            border-color: $clr-primary;

            &::before {
                background-color: $clr-primary;
            }
        }
    }

    .radio-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $clr-bg-black;
        @include transition(smooth);

        $size: 20px;
        border-radius: $size;
        width: $size;
        height: $size;

        &::before {
            content: '';
            background-color: transparent;
            @include transition(smooth);

            $size: 10px;
            width: $size;
            height: $size;
            border-radius: $size;
        }

        & + .label {
            display: inline-block;
            font-size: 18px;
            padding-left: 5px;
        }
    }
}
