.section-mt {
    margin-top: 82px;
}

.section-mb {
    margin-bottom: 82px;
}

.section-my {
    margin-top: 82px;
    margin-bottom: 82px;
}

.section-pt {
    padding-top: 82px;
}

.section-pb {
    padding-bottom: 82px;
}

.section-py {
    padding-top: 82px;
    padding-bottom: 82px;
}