@mixin section($section-distance) {
    .section-mt {
        margin-top: $section-distance;
    }

    .section-mb {
        margin-bottom: $section-distance;
    }

    .section-my {
        margin-top: $section-distance;
        margin-bottom: $section-distance;
    }

    .section-pt {
        padding-top: $section-distance;
    }

    .section-pb {
        padding-bottom: $section-distance;
    }

    .section-py {
        padding-top: $section-distance;
        padding-bottom: $section-distance;
    }
}


@include section(82px);


@media (max-width: $breakpoint-lg) {
    @include section(62px);
}


@media (max-width: $breakpoint-md) {
    @include section(42px);
}